<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.a.mapper.LogMapper">

    <select id="findLogsByUserId" resultType="com.example.a.entity.Log">
        SELECT * FROM log WHERE user_id = #{userId}
    </select>

    <insert id="insert" parameterType="com.example.a.entity.Log">
        INSERT INTO log (username, operation, operate_time)
        VALUES (#{username}, #{operation}, #{operateTime})
    </insert>

    <delete id="deleteById" parameterType="Long">
        DELETE FROM log WHERE id = #{id}
    </delete>

</mapper>